{% extends 'base.html.twig' %}

{% block subtitle %}{{ 'List customers'|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('widgets_multiple-checker') }}
{% endblock %}

{% block content_container %}
  {% include 'widgets/breadcrumb.html.twig' with {items: [
    {label: 'Customer'|trans, path: path('customer_index')},
  ]} %}

  {% embed 'widgets/content-navbar.html.twig' with { title: block('subtitle') } %}
    {% block nav_items %}
      {% if is_granted('ROLE_ALLOWED_TO_EDIT') %}
        <li class="nav-item">
          <a href="{{ pathWithReturnTo('customer_new') }}" class="nav-link">{{ 'Add'|trans }}</a>
        </li>
      {% endif %}
    {% endblock %}
    {% block dropdown_items %}
      {% if is_granted('ROLE_ALLOWED_TO_EDIT') %}
        <form action="{{ pathWithReturnTo('customer_delete_multiple') }}" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete these items?'|trans }}')">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token('delete_multiple') }}">
          <input type="hidden" name="ids">
          <a class="dropdown-item multiple-checker-action" onclick="$(this).closest('form').submit();">{{ 'Delete items...'|trans }}</a>
        </form>
      {% endif %}
    {% endblock %}
  {% endembed %}

  {% embed 'widgets/search-form.html.twig' %}
    {% block row1_col1 %}
      {{ form_widget(form.query) }}
    {% endblock %}
    {% block row1_col2 %}
      {{ form_widget(form.states) }}
    {% endblock %}
  {% endembed %}

  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th><input type="checkbox" class="multiple-checker-all"></th>
        <th>{{ ttskch_paginator_sortable('c.id', 'Id'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('c.state', 'State'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('c.name', 'Customer name'|trans) }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for customer in slice %}
        <tr>
          <td><input type="checkbox" class="multiple-checker" value="{{ customer.id }}"></td>
          <td>{{ customer.id }}</td>
          <td>{{ customer.state|trans }}</td>
          <td>{{ customer.name }}</td>
          <td>
            <a href="{{ path('customer_show', {id: customer.id}) }}">{{ 'Show'|trans }}</a>
            {% if is_granted('ROLE_ALLOWED_TO_EDIT') %}
              <a href="{{ pathWithReturnTo('customer_edit', {id: customer.id}) }}" class="ml-sm-3">{{ 'Edit'|trans }}</a>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="100" class="text-muted">{{ 'No data.'|trans }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {{ ttskch_paginator_pager() }}
{% endblock %}
