{% extends 'base.html.twig' %}

{% block subtitle %}{{ 'List projects'|trans }}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('widgets_multiple-checker') }}
{% endblock %}

{% block content_container %}
  {% include 'widgets/breadcrumb.html.twig' with {items: [
    {label: 'Project'|trans, path: path('project_index')},
  ]} %}

  {% embed 'widgets/content-navbar.html.twig' with { title: block('subtitle') } %}
    {% block nav_items %}
      {% if is_granted('ROLE_ALLOWED_TO_EDIT') %}
        <li class="nav-item">
          <a href="{{ pathWithReturnTo('project_new') }}" class="nav-link">{{ 'Add'|trans }}</a>
        </li>
      {% endif %}
    {% endblock %}
    {% block dropdown_items %}
      {% if is_granted('ROLE_ALLOWED_TO_EDIT') %}
        <form action="{{ pathWithReturnTo('project_delete_multiple') }}" method="post" onsubmit="return confirm('{{ 'Are you sure you want to delete these items?'|trans }}')">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token('delete_multiple') }}">
          <input type="hidden" name="ids">
          <a class="dropdown-item multiple-checker-action" onclick="$(this).closest('form').submit();">{{ 'Delete items...'|trans }}</a>
        </form>
      {% endif %}
    {% endblock %}
  {% endembed %}

  {% embed 'widgets/search-form.html.twig' %}
    {% block row1_col1 %}
      {{ form_widget(form.query) }}
    {% endblock %}
    {% block row1_col2 %}
      {{ form_widget(form.states) }}
    {% endblock %}
    {% block row2_col1 %}
      {{ form_widget(form.customers) }}
    {% endblock %}
    {% block row2_col2 %}
      <div class="input-group">
        {{ form_widget(form.users) }}
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" onclick="$('select#users').val(['{{ app.user.id }}']).change();">{{ 'Select yourself'|trans }}</button>
        </div>
      </div>
    {% endblock %}
  {% endembed %}

  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th><input type="checkbox" class="multiple-checker-all"></th>
        <th>{{ ttskch_paginator_sortable('p.id', 'Id'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('c.id', 'Customer'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('p.state', 'State'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('p.name', 'Project name'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('u.id', 'Assignee'|trans) }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for project in slice %}
        <tr>
          <td><input type="checkbox" class="multiple-checker" value="{{ project.id }}"></td>
          <td>{{ project.id }}</td>
          <td>
            {% if project.customer %}
              <a href="{{ path('customer_show', {id: project.customer.id}) }}">{{ project.customer }}</a>
            {% endif %}
          </td>
          <td>{{ project.state|trans }}</td>
          <td>{{ project.name }}</td>
          <td>
            {% if project.user %}
              <a href="{{ path('user_show', {id: project.user.id}) }}">{{ project.user }}</a>
            {% endif %}
          </td>
          <td>
            <a href="{{ path('project_show', {id: project.id}) }}">{{ 'Show'|trans }}</a>
            {% if is_granted('ROLE_ALLOWED_TO_EDIT') %}
              <a href="{{ pathWithReturnTo('project_edit', {id: project.id}) }}" class="ml-sm-3">{{ 'Edit'|trans }}</a>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="100" class="text-muted">{{ 'No data.'|trans }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {{ ttskch_paginator_pager() }}
{% endblock %}
