{% extends 'base.html.twig' %}

{% block subtitle %}{{ 'List users'|trans }}{% endblock %}

{% block content_container %}
  {% include 'widgets/breadcrumb.html.twig' with {items: [
    {label: 'User'|trans, path: path('user_index')},
  ]} %}

  {% embed 'widgets/content-navbar.html.twig' with { title: block('subtitle') } %}
    {% block nav_items %}
      {% if is_granted('ROLE_ALLOWED_TO_EDIT_USER') %}
        <li class="nav-item">
          <a href="{{ pathWithReturnTo('user_new') }}" class="nav-link">{{ 'Add'|trans }}</a>
        </li>
      {% endif %}
    {% endblock %}
  {% endembed %}

  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th>{{ ttskch_paginator_sortable('id', 'Id'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('email', 'Email'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('roles', 'Roles'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('displayName', 'Display name'|trans) }}</th>
        <th>{{ ttskch_paginator_sortable('lastLoggedInAt', 'Last logged in at'|trans) }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for user in slice %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ roles(user) }}</td>
          <td>{{ user.displayName }}</td>
          <td>{{ user.lastLoggedInAt|datetime }}</td>
          <td>
            <a href="{{ path('user_show', {id: user.id}) }}">{{ 'Show'|trans }}</a>
            {% if is_granted('ROLE_ALLOWED_TO_EDIT_USER') %}
              <a href="{{ pathWithReturnTo('user_edit', {id: user.id}) }}" class="ml-sm-3">{{ 'Edit'|trans }}</a>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="100" class="text-muted">{{ 'No data.'|trans }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {{ ttskch_paginator_pager() }}
{% endblock %}
